body {
  background-color: lightblue;
}

/*
body {
  background-image: url("images/landscape.jpg");
}
*/

.red-border {
  border: 2px solid red;
}

.red-rounded-border {
  border: 2px solid red;
  border-radius: 15px;
}

.custom-margin {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.custom-padding {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.custom-font-family {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-font-style {
  font-style: italic;
}

.custom-font-weight {
  font-weight: bold;
}

.custom-font-size {
  font-size: 30px;
}
